/* header.component.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003366;
  padding: 10px;
}

.navbar-logo img {
  height: 50px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  position: relative;
  margin-left: 20px;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.navbar-menu a:hover {
  background-color: #00509e;
  border-radius: 5px;
}
