/* app.component.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.background {
  background: url('src\assets/hero-image.png') no-repeat center center/cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 0%; /* Ajusta este valor según la altura de tu barra de navegación */
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2.text-center {
  color: #333;
}
