<!-- main-content.component.html -->
<div class="cards-container">
  <app-destination-card
    title="Mejores Destinos"
    description="Explora nuestros destinos más populares y vive experiencias inolvidables..."
    buttonText="Ver Destinos"
    imageUrl="assets/destination.png">
  </app-destination-card>
  <app-destination-card
    title="Viajes a bajo precio"
    description="Descubre destinos increíbles sin comprometer tu presupuesto..."
    buttonText="Ver Precios"
    imageUrl="assets/low-price.png">
  </app-destination-card>
</div>
