<!-- listar-reserva.component.html -->
<div class="container mt-5">
    <h2>Listar Reservas</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre del Cliente</th>
          <th>Nombre del Producto</th>
          <th>Fecha de Inicio</th>
          <th>Fecha de Término</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reserva of reservas">
          <td>{{ reserva.id }}</td>
          <td>{{ reserva.clienteNombre }}</td>
          <td>{{ reserva.productoNombre }}</td>
          <td>{{ reserva.fechaInicio | date }}</td>
          <td>{{ reserva.fechaTermino | date }}</td>
          <td>
            <button (click)="deleteReserva(reserva.id)" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  